/* CSS Base */
@import 'base/variables.css';
@import 'base/reset.css';
@import 'base/typography.css';

/* CSS Components */
@import 'components/buttons.css';
@import 'components/forms.css';
@import 'components/modals.css';

/* CSS Admin */
@import 'admin/login.css';
@import 'admin/profiles.css';
@import 'admin/dashboard.css';
@import 'admin/calendar.css';
@import 'admin/list.css';
@import 'admin/unavailable.css';