/* CSS Base */
@import 'base/variables.css';
@import 'base/reset.css';
@import 'base/typography.css';

/* CSS Components */
@import 'components/buttons.css';
@import 'components/forms.css';
@import 'components/modals.css';

/* CSS Layout */
@import 'layout/header.css';
@import 'layout/footer.css';

/* CSS Pages */
@import 'pages/home.css';
@import 'pages/booking.css';
@import 'pages/infos.css';
@import 'pages/auth.css';
@import 'pages/profile.css';