.infos-section {
    text-align: center;
    background: var(--dark-bg);
}

.infos-title {
    margin: 0 auto;
    padding: 100px 20px 10px 20px;
    position: relative;
}

.infos-title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, var(--light-green), var(--primary-green));
}

.infos-title h1 {
    font-size: 2.6rem;
    font-weight: 650;
}

.infos-text {
    margin: 0 auto;
    padding: 30px 5%;
    max-width: 1000px;
    text-align: justify;
}

@media (max-width: 768px) {
    .infos-title {
        padding-top: 70px;
    }

    .infos-title h1 {
        font-size: 1.8rem;
    }

    .infos-text {
        font-size: 0.9rem;
    }
}