/* ===== TIPOGRAFIA ===== */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    margin-bottom: 1rem;
}

.section-title {
    text-align: center;
    font-size: 2rem;
    color: var(--primary-green);
    margin-bottom: 30px;
}

/* Container Global */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.turnstile {
    align-items: center;
}

.text-center {
    text-align: center; !important;
}

.text-right {
    text-align: right; !important;
}