/* ===== ADMIN LOGIN ===== */

.admin-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.admin-login-box {
    background: var(--white);
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--shadow-xl);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-logo {
    width: 120px;
    padding: 15px;
    border-radius: 25%;
}

.admin-login-box h2 {
    color: var(--primary-green);
}

.adminLoginInput {
    padding-bottom: 20px;
}